html {
    scroll-behavior: smooth;
  }


header {
    position: relative;
    height: 105px;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 96px;
    padding-top: 4px;
    /* background-color: aqua; */
    display: flex;                          /* ФЛЕКС КОНТЕЙНЕР */
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.header__menu {
    display: flex;
    height: 22px;
    font-size: 18px;
    font-style: normal;
}

ul.header__menu__ul { 
    display: flex;
    text-align: center;
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 25px;
}


.header__logo {
    height:105px;
    width: 148px;
    position: absolute;
    margin-left: 453px;
    margin-top: -4px;
}

.header__address {
    display: flex;
    font-size: 18px;
    font-style: normal;
    position: absolute;
    margin-left: 788px;

}

ul.header__address__ul {
    list-style-type: none;
}

/*
.header__address__ul {
    row-gap: 10px;
}
*/

/* ОНО ТЕБЕ НАДО */



.landing__page {
    display: flex;
    position: relative;
    background-position: center;
    min-height: 757px;
    width: 1100px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    z-index: 1;
    position: absolute;
    background-size: cover;
    height: 757px;
    width: 1100px;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    height: 355px;
    width: 1000px;
    z-index: 2;
    display: block;
    position: relative;
    top: 165px;
    right: 50px;
    bottom: 237px;
    left: 50px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 0.3em;
    
}


.cover__title__span {
    background: transparent;
    letter-spacing: 0.6em;

}

.cover__title__row__one {
    background: transparent;
    
}

.cover__title__row__two {
    display: block;
    background: transparent;
    margin-left: 286px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.cover__title__row__three {
    display:block;
    background: transparent;
    margin-top: -115px;
    margin-left: 584px;
}


.cover__text {
    z-index: 2;
    position: absolute;
    display: inline-block;
    top: 667px;
    bottom: 62px;
    left: 78px;
    background: transparent;
    height: 28px;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.cover__button {
    z-index: 2;
    position: absolute;
    display: inline-block;
    top: 655px;
    right: 50px;
    bottom: 51px;
    left: 794px;
    background: transparent;
    color: white;
    height: 51px;
    text-transform: uppercase;
    border: 1px;
    border-style: solid;
    font-size: 22px;
    text-align: center;

}



/* ЛОТЫ */


.lots {
    margin-top: 172px;
}







footer {
    position: relative;
    height: 98px;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 96px;
    padding-top: 4px;
    background-color: aqua;
    display: flex;                          /* ФЛЕКС КОНТЕЙНЕР */
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.footer__address {
    display: flex;
    font-size: 18px;
    font-style: normal;
    margin-left: 25px;
    margin-top: 30px;
}

.footer__menu {
    position: absolute;
    font-size: 18px;
    font-style: normal;
    margin-left: 450px;
}

ul.footer__menu__ul {
    text-align: center;
    list-style-type: none;
}