html {
    scroll-behavior: smooth;
  }

/* Styles Header */

header {
    position: relative;
    margin: 92px 24px 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-underline-offset: 4px;
}

.header__menu {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    margin-left: 26px;
}

.header__menu__main {
    list-style-type: none;
}

ul.header__menu__ul {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 26px;
    list-style-type: circle;
    letter-spacing: 0.03em;
}

.header__logo {
    height: 105px;
    width: 148px;
}

.header__address {
    display: flex;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    padding-left: 150px;
    padding-right: 45px;
}

ul.header__address__ul {
    list-style-type: none;
    width: 220px;
}

/* Styles ОНО ТЕБЕ НАДО */

.landing__page {
    position: relative;
    background-position: center;
    height: 757px;
    width: 1100px;
    padding: 164px 50px 200px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    
}

.landing__page::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    top: 0;
    left: 0;
    position: absolute;
}

.cover__title {
    width: 1000px;
    z-index: 1;
    display: block;
    position: relative;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 0.3em;
    grid-column: span 2;
}

.cover__title__span {
    background: transparent;
    letter-spacing: 0.6em;
}

.cover__title__row__ono {
    display: block;
    background: transparent;
    text-align: left;
}

.cover__title__row__tebe {
    display: block;
    background: transparent;
    padding-top: 10px;
    text-align: center;
}

.cover__title__row__nado {
    display: block;
    background: transparent;
    padding-top: 3px;
    text-align: right;
    white-space: nowrap;
    float: right;
}

.cover__title__span-no-spacing {
    letter-spacing: 0em;
}

.cover__text {
    z-index: 1;
    background: transparent;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    word-spacing: 18.5px;
    margin-top: 140px;
    margin-left: 28px;
}

.cover__button {
    z-index: 1;
    background: transparent;
    color: white;
    height: 51px;
    text-transform: uppercase;
    border: 1px;
    border-style: solid;
    font-size: 22px;
    text-align: center;
    margin-top: 125px;
    margin-left: 15px;
    padding: 0px;
}

/* Styles ЛОТЫ */

.lots {
    margin-top: 179px;
    text-underline-offset: 4px;
}

.section__title__lots {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 64px;
    font-weight: 700;
}

.lots__cards {
    margin-left: 24px;
    margin-top: 26px;
    display: grid;
    gap: 25px;
    grid-template-columns: 334px 334px 334px;

}

.lots__card {
    width: 334px;
    height: 563px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
}

.lots__card::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    top: 0;
    left: 0;
    position: absolute;
}

.lots__card__thomas__anderson {
    background-image: url(../images/card-lot-01.jpg);
}

.lots__card__joyce {
    background-image: url(../images/card-lot-02.jpg);
}

.lots__card__kandinsky {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__heading {
    position: relative;
    z-index: 1;
    background: transparent;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-top: 51px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    line-height: 26px;
}

.lots__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: white;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
    background: transparent;
    grid-row: 2;
    align-self: end;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 64px;
    color: black;
}

/* Styles ABOUT */

.about {
    margin-top: 183px;
    margin-left: 71px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 72px;
    row-gap: 100px;
}

.about__logo__bg {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    grid-row: span 2;
}

.about__logo {
    height: 114px;
    width: 148px;
    background: transparent;
    align-self: center;
    
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 102px;
    color: black;
}

.about__text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: black;
}

/* Styles FOOTER */

footer {
    position: relative;
    margin-top: 182px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
    text-underline-offset: 4px;
    
}

.footer__address {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.footer__menu {
    font-size: 18px;
    font-style: normal;
    padding-left: 20px;
}

ul.footer__menu__ul {
    text-align: center;
    list-style-type: none;
}

ul.footer__media__ul {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    grid-template-rows: auto;
    gap: 48px;
    list-style-type: none;
}